
body{



filter: drop-shadow(0 0 10px white);
	max-height: 100vh;
}
#snow {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
		pointer-events: none;
		z-index: 1000;
	}
.container{
	display: flex;
	flex-direction: column;
	background-color:black;

}
.time-count {
	
	color: white;
	max-width: 700px;
	max-height: 100vh;
	margin: 15% auto;
	text-align: center;
}
.title {
	text-align: center;
	font-size: 60px;
	margin-bottom: 50px;
}
.time-count__content {
display: flex;
justify-content: space-between;
}
.time-count__item {
	font-size: 70px;
	text-align: center;
}
.time-count__text {
	font-size: 20px;
}
.time-count__separator {
	font-size: 50px;
	margin: 5px 0 0 0;
}
